@page "/trader"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.SignalR.Client
@using TradeMaster6000.Shared
@inject NavigationManager NavigationManager
@inject HttpClient Http
@implements IAsyncDisposable
@attribute [Authorize]

@{
    if (IsConnected)
    {
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@StartTrader" Text="Start Trader" Disabled="disabled" />
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Click="@StopTrader" Text="Stop Trader" Disabled="disabledstop" />
    }
    else
    {
        <h3>Connecting...</h3>
    }

    <hr />
}

@code {
    private HubConnection hubConnection;
    private bool disabled = true;
    private bool disabledstop = true;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/orderhub"))
        .Build();

        await hubConnection.StartAsync();

        await IsLoggedIn();
    }

    private async Task IsLoggedIn()
    {
        var response = await Http.GetAsync("ApiLogin/IsLoggedOn");
        var booly = await response.Content.ReadAsStringAsync();
        if (booly == "true")
        {
            disabled = false;
            disabledstop = false;
            StateHasChanged();
        }
        else
        {
            disabledstop = true;
            disabled = true;
            StateHasChanged();
        }
    }

    private async Task StartTrader()
    {
        disabled = true;
        StateHasChanged();
        await hubConnection.SendAsync("StartTrader");
        await Task.Delay(5000);
        disabled = false;
        StateHasChanged();
    }


    private async Task StopTrader()
    {
        disabledstop = true;
        StateHasChanged();
        await hubConnection.SendAsync("StopTrader");
        await Task.Delay(5000);
        disabledstop = false;
        StateHasChanged();
    }

    public bool IsConnected =>
hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}
