@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
<Title Value="Robin Hood"></Title>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth" style="background-image: linear-gradient(to right, #000000 0%, #330000 70%); border:none;">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>

        <AuthorizeView>
            <Authorized>

                    <StatusBar />

            </Authorized>
        </AuthorizeView>
    </div>
</div>
