@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #272727;
}

.main {
    background: #272727;
}

a, .btn-link {
    color: white;
}

.login-container {

}

    .login-container a, .login-container button {
        margin:10px;
        background:none;
        border:none;
        outline:none;
        padding:0px;
        display:inline;
        color: #d5d5d5;
        font-weight: normal;
    }

        .login-container a:hover, .login-container button:hover {
            color: #d5d5d5;
            font-weight: bold;
            text-decoration: none;
        }

.btn-primary {
    color: white;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
    background:#272727;
    color:#ffffff;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.padding-top {
    padding-top:10px;
}



    .footerbooter {
        height: 100px;
        overflow-y:auto;
        width: auto;
        padding: 10px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 150px;
        background-image: linear-gradient(to right, #003538 0%, #000000 70%);
    }

    .dissapear {
        display: none;
    }

.toggle-button, .toggle-button-down {
    background-image: linear-gradient(to right, #003538 0%, #000000 70%);
    color: #e5e5e5;
    padding-top: 5px;
    font-size: 30px;
    border: none;
    outline: none;
    right: 10px;
    bottom: 110px;
    position: fixed;
}

.toggle-button-down {
    bottom: 10px;
}

    .toggle-button:hover, .toggle-button-down:hover {
        background-image: linear-gradient(to right, #000000 0%, #003538 70%);
    }

    .status-box {
        padding: 20px;
        float: left;
        width: auto;
        height: 60px;
        background: #2e2e2e;
        color: #fff;
        margin: 10px;
    }

        .status-box p {
            display: inline;
        }

    .on {
        margin-left: 5px;
        padding: 5px;
        display: inline;
        /*    text-align: center;*/
        /*    padding-top: 15px;
    height: 50px;
    width: 50px;*/
        background-color: #19dd02;
        color: #000000;
    }

    .off {
        margin-left: 5px;
        padding: 5px;
        display: inline;
        /*    text-align: center;
    padding-top: 15px;
    height: 50px;
    width: 50px;*/
        background-color: red;
        color: #000000;
    }


@media only screen and (max-width: 600px) {
    .footerbooter {
        height:75px;
        font-size: 10px;
        left: 0px;
    }

    .status-box {
        height: 40px;
        padding: 10px;
    }

    .toggle-button {
        bottom: 85px;
    }
}
@media only screen and (min-width: 600px) {
    .footerbooter {
        height: 75px;
        font-size: 10px;
        left: 0px;
    }
    .status-box {
        height: 40px;
        padding: 10px;
    }
    .toggle-button {
        bottom: 85px;
    }
}

/*@media only screen and (min-width: 992px) {
    .footerbooter {
        height: 85px;
        font-size: 12px;
        left: 0px;
    }

    .status-box {
        height: 50px;
        padding: 15px;
    }

    .toggle-button {
        bottom: 95px;
    }
}*/


    @media only screen and (min-width: 1000px) {
        .footerbooter {
            height: 100px;
            left: 150px;
            font-size: 14px;
        }

        .status-box {
            height: 60px;
            padding: 20px;
        }

        .toggle-button {
            bottom: 110px;
        }
    }
